@inject CRMDBContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iTech</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />        <!--end::Fonts -->
    <link href="~/Designer/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Designer/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Designer/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Designer/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" style="background-image: url()" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">iTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	@{
		var contacts = _context.SocialMediaLinks.FirstOrDefault();

		<footer id="footer">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-4 mb-lg-0">
						<a href="index.html" class="logo pe-0 pe-lg-3 ps-3 ps-md-0">
							<img alt="Porto Website Template" src="~/Public/img/Logo.png" height="32">
						</a>
					</div>
					<div class="col-md-8 d-flex justify-content-center justify-content-md-end mb-4 mb-lg-0">
						<div class="row">
							<div class="col-md-6 mb-3 mb-md-0">
								<div class="ms-3 text-center text-md-end">
									<h5 class="text-3 mb-0 text-color-light">@contacts.Address</h5>
									<p class="text-4 mb-0">
										<i class="fab fa-whatsapp text-color-primary top-1 p-relative"></i>
										<span class="ps-1"><a href="tel:0123456789" class="text-decoration-none">@contacts?.ContactPhone1</a></span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="ms-3 text-center text-md-end">
									<h5 class="text-3 mb-0 text-color-light">@sharedResource["Contact Us"]</h5>
									<p class="text-4 mb-0">
										<i class="fab fa-whatsapp text-color-primary top-1 p-relative"></i>
										<span class="ps-1"><a href="tel:0123456789" class="text-decoration-none">@contacts?.ContactPhone2</a></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright footer-copyright-style-2">
				<div class="container py-2">
					<div class="row py-4">
						<div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
							<p>@sharedResource["© Copyright 2023. All Rights Reserved."]</p>
						</div>
						<div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
							<p><i class="far fa-envelope text-color-primary top-1 p-relative"></i><a href="mailto:@contacts.ContactMail" class="opacity-7 ps-1">@contacts.ContactMail</a></p>
							<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light ms-3">
								<li class="social-icons-facebook"><a href="@contacts.Facebook" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2"></i></a></li>
								<li class="social-icons-twitter"><a href="@contacts.Twitter" target="_blank" title="Twitter"><i class="fab fa-twitter text-2"></i></a></li>
								<li class="social-icons-linkedin"><a href="@contacts.LinkedIn" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>