@page 
@model iTech.Areas.CRM.Pages.SystemConfiguration.UserMessages.IndexModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
   ViewBag.Title = @sharedResource["Customer Messages"];
	ViewBag.pTitle = @sharedResource["Customer Messages"];
}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<style>
    .dataTables_filter 
    {
        display: none;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>

                                    
                                    <th data-ordering="false">@sharedResource["Full Name"]</th>
                                    <th data-ordering="false">@sharedResource["Email"]</th>
                                 
                                    <th data-ordering="false">@sharedResource["Message Date"]</th>
                                    <th data-ordering="false">@sharedResource["Message"]</th>
                                    <th data-ordering="false">@sharedResource["Actions"]</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
        </div>
    </div>
    <!--end col-->
</div>

<partial name="_ViewPopup" model="@Model.contactUs" view-data="ViewData" />
<partial name="_DatchDelete" model="@Model.contactUs" view-data="ViewData" />

<!--datatable js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<!--End datatable js-->


<script>

    $(document).ready(function () {
        var domainUrl = document.getElementById("UrlId").value;
        console.log("domainUrl: " + domainUrl);
        $('#myTable').DataTable({
            "dom": 'rt<"bottom"ip><"clear">',
            ajax: { url: domainUrl + '/api/Lists/GetMessages' },
            columns: [
              
                { data: 'FullName' },
                { data: 'Email' },
               
                { data: 'TransDate' },
                { data: 'Msg' },
                
                {
                    data: "ContactId",
                    render: function (data, type, row) {

                        return '<ul class="list-inline hstack gap-2 mb-0"> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="View"><a href="javascript:void(0)" data-bs-toggle="modal"><i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(' + data + ')" ></i></a></li>     <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"title="Delete"> <a class="remove-item-btn" data-bs-toggle="modal"href="javascript:void(0)" > <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteMessage(' + data + ')"></i> </a></li></ul>';

                    },
                    className: "dt-body-center"
                },


            ],



        });
    });
    $('#txtSearch').keyup(function () {
        var table = $('#myTable').DataTable();
        table.search($(this).val()).draw();
    });
    
    function ShowViewPopUp(ContactId) {
        console.log(ContactId);
        $.ajax({
            type: "GET",
            url: "/CRM/SystemConfiguration/UserMessages/Index?handler=SingleMessageForView",
            data: { "ContactId": ContactId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
               
                document.getElementById("FullNameId").innerHTML = response.Name
                document.getElementById("EmailId").innerHTML = response.Email

                document.getElementById("DateId").innerHTML = response.SendingDate 
                document.getElementById("MessageId").innerHTML = response.Message
                $('#QuickViewPoup').modal('show');

            },
            failure: function (response) {
                alert(response);
            }
        });

    }
    function deleteMessage(ContactId) {
        console.log(ContactId);
        $.ajax({
            type: "GET",
            url: "/CRM/SystemConfiguration/UserMessages/Index?handler=SingleMessageForDelete",
            data: { "ContactId": ContactId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                console.log(response);
                console.log(response.ContactUsID);
                document.getElementById("DeleteMessageId").value = response.ContactUsID
                $('#deleteRecordModal').modal('show');


            },
            failure: function (response) {
                alert(response);
            }
        });
    }



</script>      