@page
@model iTech.Areas.Admin.Pages.Configurations.ManagePaymentRequest.IndexModel
@{
}
@{
    ViewBag.Title = @sharedResource["Payment Request"];
    ViewBag.pTitle = @sharedResource["Payment Request"];
    ViewBag.pageTitle = @sharedResource["Payment Request"];
     //Layout = "_Layout";
}


<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack ">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="{default: 'prepend', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_content_container', lg: '#kt_app_toolbar_container'}" class="page-title d-flex flex-column justify-content-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    @sharedResource["Payment Requests"]
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Action group-->
            <!--end::Action group-->
        </div>

        <!--end::Toolbar container-->
    </div>
    <div id="kt_app_content" class="app-content  flex-column-fluid ">


        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-fluid ">

            <div class="card">
                @*<div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                <i class="ki-duotone ki-plus fs-2"></i>                New Member
                </a>
                </div>
                </div>*@
                @*   <div class="card-header card-header-stretch overflow-auto" style="height: 5.5rem;">
                <h1 style="padding-top: 2rem;">@sharedResource["Edit Public Home Content"]</h1>
                <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" data-bs-original-title="Click to add a user" data-kt-initialized="1">
                <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                <i class="ki-duotone ki-plus fs-2"></i>                New Member
                </a>
                </div>
                </div> *@

                <div class="card-body">
                    <table id="tblList" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 px-7">
                                <th hidden>id</th>
                                <th class="min-w-325px rounded-start">@sharedResource["Current Balance"]</th>
                                <th class="min-w-125px">@sharedResource["Is Paid"]</th>
                                <th class="min-w-125px">@sharedResource["Payment type"]</th>
                                <th class="min-w-200px">@sharedResource["Request Date"]</th>
                                <th class="min-w-200px text-end rounded-end">@sharedResource["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>


                </div>

            </div>

        </div>

    </div>
</div>
<script src="~/Other/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tblList").DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "/admin/Configurations/ManagePaymentRequest/Index",
                type: 'POST',
                headers: { 'XSRF-TOKEN': $('@Html.AntiForgeryToken()').val() }
            },
            "columnDefs": [
                {
                    "targets": -1,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        const linkHtml = `<a href="/Admin/Configurations/ManagePaymentRequest/PaymentRequestDetails?id=${row.PaymentRequestId}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                      
                                             <i class="ki-duotone ki-eye fs-2x">
                                                                                    <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                            <span class="path3"></span>
                                                                            </i>
                                    </a>`;
                        return linkHtml;
                    },
                    "sortable": false
                },
                { "name": "PaymentRequestId", "data": "PaymentRequestId", "targets": 0, "visible": false },
                { "name": "CurrentBalance", "data": "CurrentBalance", "targets": 1, "visible": true },
                {
                    "name": "IsActive",
                    "data": "IsActive",
                    "targets": 2,
                    "render": function (data, type, row, meta) {
                        if (row.IsPaid) {
                            return `<span class="badge badge-light-success fs-7 fw-bold">@sharedResource["Paid"]</span>`;
                        } else {
                            return `<span class="badge badge-light-danger fs-7 fw-bold">@sharedResource["Not Paid"]</span>`;
                        }
                    }
                },
                { "name": "PaymentType", "data": "PaymentType.TitleEn", "targets": 3 },
                {
                    "name": "RequestData",
                    "data": "RequestData",
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var date = new Date(data);
                            var formattedDate = `${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getDate().toString().padStart(2, '0')}/${date.getFullYear()}`;
                            return formattedDate;
                        } else {
                            return "";
                        }
                    }
                },
            ],
            "order": [[4, "desc"]],
            "language": {
                "lengthMenu": "Show _MENU_",
            },
            "dom":
                "<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">",
            "createdRow": function (row, data, dataIndex) {
                var tdElements = $(row).find('td');
                $(tdElements[tdElements.length - 1]).addClass('text-end');
            }
        });
    });
</script>


