@page
@model iTech.Areas.Affiliate.Pages.IndexModel
@{
	Layout = "_Layout";
}

<div class="d-flex flex-column flex-column-fluid">

	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">



			<!--begin::Page title-->
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
				<!--begin::Title-->
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
					@sharedResource["My Balance:"] @Model.CurrentPointsAmount
				</h1>
				<!--end::Title-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a href="/Affiliate/Index" class="text-muted text-hover-primary">
							@sharedResource["Home"]
						</a>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-400 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						@sharedResource["Statistics Dashboard"]
					</li>
					<!--end::Item-->

				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
			<!--begin::Actions-->
			<div class="d-flex align-items-center gap-2 gap-lg-3">


				<a id="copyButton" class="btn btn-sm fw-bold bg-body btn-color-gray-700 btn-active-color-primary">@sharedResource["Copy Token"]</a>
				<!--begin::Primary button-->
				@if (@Model.ShowWithdrawalBtn)
				{
					
					<a onclick="OpenWithdrawRequestPopUp()" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_top_up_wallet">
						@sharedResource["Withdrawal Request"]
					</a>
				}
				
				<input type="hidden" id="tokenInput" value="@Model.token" />
				<div id="liveAlertPlaceholder"></div>
				<!--end::Primary button-->
			</div>
			<!--end::Actions-->
			
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content  flex-column-fluid ">


		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container  container-xxl ">
			<!--begin::Row-->
			<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
				<!--begin::Col-->
				<div class="col-xxl-12">
					<!--begin::Row-->
					<div class="row g-5 g-xl-10">
						<!--begin::Col-->
						<div class="col-md-4">
							<!--begin::Card widget 11-->
							<div class="card card-flush h-xl-100">
								<!--begin::Header-->
								<div class="card-header flex-nowrap pt-5">
									<!--begin::Title-->
									<h3 class="card-title align-items-start flex-column">
										<span class="card-label fw-bold fs-4 text-gray-800"> @sharedResource["Total number of sites"]</span>
										<span class="mt-1 fw-semibold fs-7" style="color: ">@Model.SitesCount</span>
									</h3>
									<!--end::Title-->

								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body text-center pt-5">
									<!--begin::Image-->
									<img src="~/AdminAssets/media/svg/2.png" class="h-125px mb-5" alt="">
									<!--end::Image-->
									<!--begin::Section-->
									<div class="text-start">
										<span class="d-block fw-bold fs-1 text-gray-800"> @sharedResource["Sites Total Amount"]</span>
										<span class="mt-1 fw-semibold fs-3" style="color: ">@Model.SitesAmount</span>
									</div>
									<!--end::Section-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Card widget 11-->


						</div>
						<!--end::Col-->
						<!--begin::Col-->
						<div class="col-md-4">
							<!--begin::Card widget 11-->
							<div class="card card-flush h-xl-100">
								<!--begin::Header-->
								<div class="card-header flex-nowrap pt-5">
									<!--begin::Title-->
									<h3 class="card-title align-items-start flex-column">
										<span class="card-label fw-bold fs-4 text-gray-800">@sharedResource["Current Points Count"]</span>
										<span class="mt-1 fw-semibold fs-7" style="color: ">@Model.CurrentPointsCount</span>
									</h3>
									<!--end::Title-->

								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body text-center pt-5">
									<!--begin::Image-->
									<img src="~/AdminAssets/media/svg/3.png" class="h-125px mb-5" alt="">
									<!--end::Image-->
									<!--begin::Section-->
									<div class="text-start">
										<span class="d-block fw-bold fs-1 text-gray-800"> @sharedResource["Current Points Amount"]</span>
										<span class="mt-1 fw-semibold fs-3" style="color: ">@Model.CurrentPointsAmount</span>
									</div>
									<!--end::Section-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Card widget 11-->


						</div>
						<!--end::Col-->
						<!--begin::Col-->
						<div class="col-md-4">
							<!--begin::Card widget 11-->
							<div class="card card-flush h-xl-100">
								<!--begin::Header-->
								<div class="card-header flex-nowrap pt-5">
									<!--begin::Title-->
									<h3 class="card-title align-items-start flex-column">
										<span class="card-label fw-bold fs-4 text-gray-800">@sharedResource["Total Points Paid Count"]</span>
										<span class="mt-1 fw-semibold fs-7" style="color: ">@Model.PaidPointsCount</span>
									</h3>
									<!--end::Title-->

								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body text-center pt-5">
									<!--begin::Image-->
									<img src="~/AdminAssets/media/svg/1.png" class="h-125px mb-5" alt="">
									<!--end::Image-->
									<!--begin::Section-->
									<div class="text-start">
										<span class="d-block fw-bold fs-1 text-gray-800">@sharedResource["Total Points Paid Amount"]</span>
										<span class="mt-1 fw-semibold fs-3" style="color: ">@Model.PaidPointsAmount</span>
									</div>
									<!--end::Section-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Card widget 11-->


						</div>
						<!--end::Col-->
					</div>
					<!--end::Row-->
				</div>
				<!--end::Col-->

			</div>
			<!--end::Row-->
			<!--begin::Row-->
			<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
				<!--begin::Col-->
				<div class="col-xxl-12">

					<!--begin::Chart widget 26-->
					<div class="card card-flush overflow-hidden h-xl-100">
						<!--begin::Header-->
						<div class="card-header pt-7 mb-2">
							<!--begin::Title-->
							<h3 class="card-title text-gray-800 fw-bold">@sharedResource["Withdraw Requests Per Month"]</h3>
							<!--end::Title-->
							
						</div>
						<!--end::Header-->
						<!--begin::Card body-->
						<div class="card-body d-flex justify-content-between flex-column pt-0 pb-1 px-0">
							
							<!--begin::Chart-->
							 <div class="card-body p-0 pb-2">
                            <div class="w-100">
                                <div id="customer_impression_charts"
                                     data-colors='["--vz-primary", "--vz-success", "--vz-danger"]'
                                     class="apex-charts" dir="ltr">
								 </div>
                            </div>
                        </div><!-- end card body -->
							<!--end::Chart-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Chart widget 26-->
				</div>
				<!--end::Col-->

			</div>
			<!--end::Row-->
			<!--begin::Row-->
			<div class="row g-5 g-xl-10">
				<!--begin::Col-->
				<div class="col-xxl-12">

					<!--begin::Table widget 7-->
					<div class="card card-flush h-xl-100">
						<!--begin::Header-->
						<div class="card-header pt-7">
							<!--begin::Title-->
							<h4 class="card-title align-items-start flex-column">
								<span class="card-label fw-bold text-gray-800">@sharedResource["Withdraw Requests"]</span>
								@* <span class="text-gray-400 mt-1 fw-semibold fs-7">Updated 37 minutes ago</span>*@
							</h4>
							<!--end::Title-->

						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body py-3">
							<!--begin::Table container-->
							<div class="table-responsive">
								<!--begin::Table-->
								<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
									<!--begin::Table head-->
									<thead>
										<tr class="border-bottom-0">
											<th class="p-0 w-120px"></th>
											<th class="p-0 min-w-175px"></th>
											<th class="p-0 min-w-175px"></th>
											<th class="p-0 min-w-150px"></th>
											<th class="p-0 min-w-150px"></th>
											<th class="p-0 min-w-50px"></th>
										</tr>
									</thead>
									<!--end::Table head-->
									<!--begin::Table body-->
									<tbody>
										@{
											if (@Model.paymentRequests != null)
											{
												foreach (var item in @Model.paymentRequests)
												{
													<tr>


														<td class="ps-0">
															<a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">@item.RequestData.ToShortDateString()</a>
															<span class="text-muted fw-semibold d-block fs-7">@sharedResource["Request Date"]</span>
														</td>

														<td>
															<span class="text-dark fw-bold d-block fs-6">@item.RequestPoints</span>

															<span class="text-gray-400 fw-semibold d-block fs-7">@sharedResource["Requestd Points"]</span>
														</td>

														<td>
															<span class="text-dark fw-bold d-block fs-6">@item.CurrentBalance</span>

															<span class="text-gray-400 fw-semibold d-block fs-7">@sharedResource["Requestd Amount"]</span>
														</td>

														<td>
															<span class="text-dark fw-bold d-block fs-6">@item.ConfirmPoints</span>

															<span class="text-gray-400 fw-semibold d-block fs-7">@sharedResource["Confirmd Points"]</span>
														</td>
														<td>
															@if (@item.IsPaid)
															{
																
																<span class="text-dark fw-bold d-block">
																	@sharedResource["Paid"]
																	<i class="ki-duotone ki-check-square">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</span>
															}else
															{
																<span class="text-dark fw-bold d-block">
																	@sharedResource["Not Paid"]
																	<i class="ki-duotone ki-cross-circle">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>


																</span>
																
															}

															<span class="text-gray-400 fw-semibold d-block fs-7">@sharedResource["Is Paid"]</span>
														</td>


														<td class="text-end">
															<a onclick="ShowViewPopUp(@item.PaymentRequestId)" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px ">
																@*<i class="ki-duotone ki-arrow-right fs-2"><span class="path1"></span><span class="path2"></span></i>*@
																<i class="ki-duotone ki-eye fs-2x">
																	<i class="path1"></i>
																	<i class="path2"></i>
																	<i class="path3"></i>
																</i>
															</a>
														</td>
													</tr>

												}
											}
											else
											{
												@sharedResource["There is no Withdraw Requests"]
											}
										}


									</tbody>
									<!--end::Table body-->
								</table>
								<!--end::Table-->
							</div>
							<!--end::Table container-->
						</div>
						<!--begin::Body-->
					</div>
					<!--end::Table widget 7-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<!--end::Col-->
			</div>
			<!--end::Row-->
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</div>

<partial name="_ViewPopup"  view-data="ViewData" />
<partial name="_ConfirmRequestPop" view-data=" ViewData" />
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function ShowViewPopUp(RequestId) {
		console.log(RequestId);
		$.ajax({
			type: "GET",
			url: "/Affiliate/Index?handler=SingleAffiliateRequestForView",
			data: { "RequestId": RequestId },
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				console.log(response);

				document.getElementById("RequestDateId").innerHTML = response.RequestDate
				document.getElementById("RequestPointsId").innerHTML = response.RequestPoints
				document.getElementById("RequestAmountId").innerHTML = response.CurrentBalance
				document.getElementById("ConfirmPointsId").innerHTML = response.ConfirmPoints
				document.getElementById("ConfirmAmountId").innerHTML = response.ConfirmAmount
				document.getElementById("PaymentMethodId").innerHTML = response.Payment
				document.getElementById("StatusId").innerHTML = response.Status
				// document.getElementById("PaidId").innerHTML = response.IsPaid
				$('#QuickViewPoup').modal('show');

			},
			failure: function (response) {
				alert(response);
			}
		});

	}

	function OpenWithdrawRequestPopUp() {
		$('#QuickConfirmViewPoup').modal('show');

	}
	document.getElementById('copyButton').addEventListener('click', function () {
		var tokenInput = document.getElementById('tokenInput');
		navigator.clipboard.writeText(tokenInput.value)
			.then(function () {
				alert('Token copied to clipboard!', 'success');
			})
			.catch(function (error) {
				console.error('Failed to copy token: ', error);
			});
	});
	jQuery(document).ready(function () {
		var data = getData();
		AutoFollow(data);
	}
	)

	function getChartColorsArray(chartId) {
		if (document.getElementById(chartId) !== null) {
			var colors = document.getElementById(chartId).getAttribute("data-colors");
			if (colors) {
				colors = JSON.parse(colors);
				return colors.map(function (value) {
					var newValue = value.replace(" ", "");
					if (newValue.indexOf(",") === -1) {
						var color = getComputedStyle(document.documentElement).getPropertyValue(
							newValue
						);
						if (color) return color;
						else return newValue;
					} else {
						var val = value.split(",");
						if (val.length == 2) {
							var rgbaColor = getComputedStyle(
								document.documentElement
							).getPropertyValue(val[0]);
							rgbaColor = "rgba(" + rgbaColor + "," + val[1] + ")";
							return rgbaColor;
						} else {
							return newValue;
						}
					}
				});
			} else {
				console.warn('data-colors atributes not found on', chartId);
			}
		}
	}
	function getData() {
		var dateValue = [];
		var countValue = [];
		var sumValue = [];
		$.ajax({
			type: "GET",
			url: "/api/Statistics/GetAffiliateRequestsPerMounth/",
			beforeSend: function (xhr) {
				xhr.setRequestHeader("XSRF-TOKEN",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			}
			,
			dataType: 'json',
			contentType: "application/json",

			async: false
		}).done(function (data) {
			data.forEach(function (obj) {
				dateValue.push(obj.Lable);
				countValue.push(obj.Count);
				sumValue.push(obj.Sum);
			});
		});
		return {
			dateValue: dateValue,
			countValue: countValue,
			sumValue: sumValue
		};
	}


	var linechartcustomerColors = getChartColorsArray("customer_impression_charts");
	function AutoFollow(data) {
		if (linechartcustomerColors) {
			var options = {
				series: [{
					name: "QTY",
					type: "area",
					data: data.countValue,
				},
				{
					name: "Amount",
					type: "bar",
					data: data.sumValue,
				}

				],
				fill: {
					colors: ["#FF0000", "#00FF00"], 
				},
				chart: {
					height: 370,
					type: "area",
					zoom: {
						autoScaleYaxis: true
					},
					toolbar: {
						show: true,
					},
				},
				dataLabels: {
					enabled: true,
				},
				stroke: {
					curve: "straight",
					dashArray: [0, 0, 8, 8],
					width: [2, 0, 2.2],
				},
				
				markers: {

					size: [0, 0, 0],
					strokeWidth: 2,
					hover: {
						size: 4,
					},
				},
				xaxis: {


					categories: data.dateValue,
				},


				grid: {
					show: true,
					xaxis: {
						lines: {
							show: true,
						},
					},
					yaxis: {
						lines: {
							show: true,
						},
					},
					padding: {
						top: 0,
						right: -2,
						bottom: 15,
						left: 10,
					},
				},
				legend: {
					show: true,
					horizontalAlign: "center",
					offsetX: 0,
					offsetY: -5,
					markers: {
						width: 9,
						height: 9,
						radius: 6,
					},
					itemMargin: {
						horizontal: 10,
						vertical: 0,
					},
				},
				plotOptions: {
					bar: {
						columnWidth: "30%",
						barHeight: "70%",
					},
				},
				colors: linechartcustomerColors,
				tooltip: {
					shared: true,


					y: [{
						formatter: function (y) {
							if (typeof y !== "undefined") {
								return y.toFixed(0);
							}
							return y;
						},
					},

					],
				},
			};
			var chart = new ApexCharts(
				document.querySelector("#customer_impression_charts"),
				options
			);
			chart.render();


		}
	}
		  ///////////////////////////////////





</script>     