@{
}
@model iTech.Models.Brands

<div class="modal fade zoomIn" id="kt_modal_DeleteBrand" tabindex="-1"
     aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2 b-cpu6lo70wp="">@(sharedResource["Delete Brand"])</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div b-cpu6lo70wp="" class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i b-cpu6lo70wp="" class="ki-duotone ki-cross fs-1">
                        <span b-cpu6lo70wp="" class="path1"></span>
                        <span b-cpu6lo70wp="" class="path2"></span>
                    </i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body p-5 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                           trigger="loop" colors="primary:#405189,secondary:#f06548"
                           style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 text-center">


                    <h4 class="fs-semibold">@sharedResource["You are about to delete this Brand ?"]</h4>
                   
                    <div class="hstack gap-2 justify-content-center remove">
                        <button class="btn btn-link link-success fw-medium text-decoration-none" id="deleteRecord-close"
                                data-bs-dismiss="modal">
                            <i class="ri-close-line me-1 align-middle"></i>
                            @sharedResource["Close"]
                        </button>
                        <form class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-area="Admin" asp-page="/PublicContentEditor" asp-page-handler="DeleteBrand">
                            <input asp-for="@Model.BrandsId" id="DeleteBrandId" hidden>
                            <button class="btn btn-danger" type="submit" id="delete-record">
                                @sharedResource["Yes,"]
                                @sharedResource["Delete It!!"]
                            </button>
                        </form>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
