@{
}
@model iTech.Models.Site

<div class="modal fade" id="showUserSiteEditModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true" role="dialog">
    <!--begin::Modal dialog-->
    <div b-cpu6lo70wp="" class="modal-dialog modal-dialog-centered mw-900px">
        <!--begin::Modal content-->
        <div b-cpu6lo70wp="" class="modal-content">
            <!--begin::Modal header-->
            <div b-cpu6lo70wp="" class="modal-header">
                <!--begin::Modal title-->
                <h2 b-cpu6lo70wp="">@(sharedResource["Edit User Site Details"])</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div b-cpu6lo70wp="" class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i b-cpu6lo70wp="" class="ki-duotone ki-cross fs-1">
                        <span b-cpu6lo70wp="" class="path1"></span>
                        <span b-cpu6lo70wp="" class="path2"></span>
                    </i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div b-cpu6lo70wp="" class="modal-body py-lg-10 px-lg-10">
                <!--begin::Stepper-->
                <div b-cpu6lo70wp="" class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper" data-kt-stepper="true">

                    <!--begin::Content-->
                    <div b-cpu6lo70wp="" class="flex-row-fluid py-lg-5 px-lg-15">
                        <!--begin::Form-->
                        <!--end::Form-->

                        <form class="form fv-plugins-bootstrap5 fv-plugins-framework"  asp-area="Admin" asp-page="/UserSites" asp-page-handler="EditUserSite">
                            <div class="modal-body">
                                <div class="row g-3">

                                    @* <input asp-for="@Model.SiteId" id="HiddenUserSiteId" value="@Model.SiteId" hidden> *@



                                    <!--begin::Input group-->
@*                                     <div b-cpu6lo70wp="" class="fv-row mb-10 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label b-cpu6lo70wp="" for="UserSiteTitle" class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                            <span b-cpu6lo70wp="" class="required">@sharedResource["Title"]</span>
                                            <span b-cpu6lo70wp="" class="ms-1" data-bs-toggle="tooltip" aria-label="@sharedResource["Title"]" data-bs-original-title="@sharedResource["Enter Title"]" data-kt-initialized="1">
                                                <i b-cpu6lo70wp="" class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                    <span b-cpu6lo70wp="" class="path1"></span>
                                                    <span b-cpu6lo70wp="" class="path2"></span>
                                                    <span b-cpu6lo70wp="" class="path3"></span>
                                                </i>
                                            </span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input b-cpu6lo70wp="" id="UserSiteTitle" data-val-required="SiteTitle" type="text" asp-for="@Model.SiteTitle" class="form-control form-control-lg form-control-solid" placeholder="@sharedResource["Enter Title "]">
                                        <!--end::Input-->
                                        <div class="fv-plugins-message-container invalid-feedback">
                                            <span asp-validation-for="@Model.SiteTitle" class="text-danger"></span>
                                        </div>
                                    </div>
 *@                                    <!--end::Input group-->

                                    
                                </div>
                                <!--end row-->
                            </div>
                            <div class="d-flex flex-stack pt-10 m-0">
                                <button type="button" class="btn btn-lg btn-light-primary me-3" data-bs-dismiss="modal">
                                    <i b-cpu6lo70wp="" class="ki-duotone ki-arrow-left fs-3 me-1">
                                        <span b-cpu6lo70wp="" class="path1"></span>
                                        <span b-cpu6lo70wp="" class="path2"></span>
                                    </i>@sharedResource["Close"]
                                </button>
                                <button type="submit" class="btn btn-lg btn-primary" id="add-btn">
                                    @sharedResource["Edit"] <i b-cpu6lo70wp="" class="ki-duotone ki-arrow-right fs-3 ms-2 me-0">
                                        <span b-cpu6lo70wp="" class="path1"></span>
                                        <span b-cpu6lo70wp="" class="path2"></span>
                                    </i>
                                </button>
                            </div>
                        </form>

                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Stepper-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
