@{
}


@model iTech.Models.ContactUs

<div class="modal fade" id="ShowUserMsgViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>


                                <tr>
                                    <td class="fw-medium">@sharedResource["Full Name"]</td>
                                    <td id="FullNameId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Email"]</td>
                                    <td id="EmailId"></td>
                                </tr>

                                <tr>
                                    <td class="fw-medium">@sharedResource["Message Date"]</td>
                                    <td id="DateId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Message"]</td>
                                    <td id="MessageId"></td>
                                </tr>

                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
