@page
@model iTech.Areas.Admin.Pages.Configurations.ManagePointConfiguration.IndexModel
@{
}

@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = @sharedResource["Manage Point Configuration"];
    ViewBag.pTitle = @sharedResource["Manage Point Configuration"];
    ViewBag.pageTitle = @sharedResource["Manage Point Configuration"];
    ViewData["Title"] = @sharedResource["Manage Point Configuration"];
}


<partial name="_EditPoint" model="@Model.pointConfiguration" view-data=" ViewData" />

<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
			<!--begin::Page title-->
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
				<!--begin::Title-->
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">@sharedResource["Point Configuration"]</h1>
				<!--end::Title-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a asp-page="Index" asp-area="Admin" class="text-muted text-hover-primary">@sharedResource["Home"]</a>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-400 w-5px h-2px"></span>
					</li>
					<!--end::Item-->
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">@sharedResource["Point Configuration"]</li>
					<!--end::Item-->
				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->

		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-xxl">

			<!--begin::Tables Widget 11-->
			<div class="card mb-5 mb-xl-8">
				<!--begin::Header-->
				<div class="card-header border-0 pt-5">
					<input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

					<h3 class="card-title align-items-start flex-column">
						<span class="card-label fw-bold fs-3 mb-1">@sharedResource["Manage Point Configuration"]</span>

					</h3>

					
				</div>
				<!--end::Header-->
				<!--begin::Body-->
				<div class="card-body py-3">
					<!--begin::Table container-->
					<div class="table-responsive">
						<!--begin::Table-->
						<table class="table align-middle gs-0 gy-4">
							<!--begin::Table head-->
							<thead>
								<tr class="fw-bold text-muted bg-light">

									<th class="min-w-325px rounded-start">@sharedResource["Value"]</th>
									<th class="min-w-200px text-end rounded-end">@sharedResource["Actions"]</th>
									
								</tr>
							</thead>
							<!--end::Table head-->
							<!--begin::Table body-->
							<tbody>
								@{
									foreach (var item in Model.pointConfigurations)
									{
										<tr>

											<td class="text-dark fw-bold text-hover-primary mb-1 fs-6">@item.Value </td>



											<td class="text-end rounded-end">
												<a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
													<i class="ki-duotone ki-pencil fs-2" onclick="EditPoint(@item.PointConfigurationId)">
														<span class="path1"></span>
														<span class="path2"></span>
													</i>
												</a>
												
											</td>
										</tr>
										
										

									}
								}


							</tbody>
							<!--end::Table body-->
						</table>
						<!--end::Table-->
					</div>
					<!--end::Table container-->
				</div>
				<!--begin::Body-->
			</div>
			<!--end::Tables Widget 11-->

		</div>
		<!-- class="max-w-325px text-end rounded-end" end::Content container-->
	</div>
	<!--end::Content-->
</div>



@*<partial name="_EditPopup" model="@Model.pointConfiguration" view-data="ViewData" />*@


<script>
	function deletePoint(PointConfigurationId)
	{
		$('#deleteRecordModal').modal('show');
	}

		function EditPoint(PointConfigurationId) {
			console.log("Send");
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/Admin/Configurations/ManagePointConfiguration/Index?handler=SinglePointConfigurationForEdit",

            data: { "PointConfigurationId": PointConfigurationId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
				console.log("Enter In Response");
				console.log(response.PointConfigurationId);
				console.log(response.Value);
				document.getElementById("HiddenId").value = response.PointConfigurationId
				document.getElementById("ValueId").value = response.Value
              
                console.log(response);
		            $('#showEditPointModal').modal('show');
            },

            failure: function (response) {
				console.log("Enter In Fail");
                alert(response);
            }
        });
    }
   
</script>      