@page 
@model iTech.Areas.CRM.Pages.SystemConfiguration.SocialLinks.IndexModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "_Layout";
}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<style>
    .dataTables_filter 
    {
        display: none;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    
                                    <th data-ordering="false">@sharedResource["Facebook"]</th>
                                    <th data-ordering="false">@sharedResource["Twitter"]</th>
                                    <th data-ordering="false">@sharedResource["Instgram"]</th>
                                    <th data-ordering="false">@sharedResource["LinkedIn"]</th>
                                    <th data-ordering="false">@sharedResource["Contact Mail"]</th>
                                    <th data-ordering="false">@sharedResource["Address"]</th>
                                     <th data-ordering="false">@sharedResource["Actions"]</th>
                             
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
        </div>
    </div>
    <!--end col-->
</div>


<partial name="_EditPopup" model="@Model.socialMediaLink" view-data="ViewData" />

<!--datatable js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

@*
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@


<script>

    $(document).ready(function () {
        var domainUrl = document.getElementById("UrlId").value;
        console.log("domainUrl: " + domainUrl);
        $('#myTable').DataTable({
            "dom": 'rt<"bottom"ip><"clear">',
            ajax: { url: domainUrl + '/api/Lists/GetSocialLinks' },
            columns: [
               
                { data: 'Facebook' },
                { data: 'Twitter' },
                { data: 'Instgram' },
                {
                    data: "LinkedIn",

                },
                  {
                    data: "ContactMail",

                },
                  {
                    data: "Address",

                },
                {
                    data: "SocialMediaLinkId",
                    render: function (data, type, row) {

                        return '<ul class="list-inline hstack gap-2 mb-0">  <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="Edit" ><a class="edit-item-btn" href="javascript:void(0)"data-bs-toggle="modal" > <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(' + data + ')"></i> </a> </li>   </ul>';

                    },
                    className: "dt-body-center"
                },


            ],



        });
    });
    $('#txtSearch').keyup(function () {
        var table = $('#myTable').DataTable();
        table.search($(this).val()).draw();
    });

    
    function editButtonClick(SocialMediaLinkId) {
        console.log(SocialMediaLinkId);
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/CRM/SystemConfiguration/SocialLinks/Index?handler=SingleSocialForEdit",

            data: { "SocialMediaLinkId": SocialMediaLinkId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
               console.log(SocialMediaLinkId);
                document.getElementById("EditSocialMediaLinkId").value = response.SocialMediaLinkId
                document.getElementById("FacebookId").value = response.Facebook
                document.getElementById("TwitterId").value = response.Twitter
                document.getElementById("InstgramId").value = response.Instgram
                document.getElementById("LinkedInId").value = response.LinkedIn
                document.getElementById("WhatSappId").value = response.WhatSapp
                document.getElementById("AddressId").value = response.Address
                document.getElementById("FaxId").value = response.ContactMail
                document.getElementById("Phone1Id").value = response.ContactPhone1
                document.getElementById("Phone2Id").value = response.ContactPhone2
                $('#showEditModal').modal('show');
            },

            failure: function (response) {
                alert(response);
            }
        });
    }


    


</script>      