@page
@model iTech.Areas.Admin.Pages.Configurations.ManageTemplates.IndexModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = @sharedResource["Templates"];
    ViewBag.pTitle = @sharedResource["Templates"];
    ViewBag.pageTitle = @sharedResource["Templates"];
    ViewData["Title"] = @sharedResource["Templates"];
}





	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack ">
				<!--begin::Page title-->
				<div data-kt-swapper="true" data-kt-swapper-mode="{default: 'prepend', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_content_container', lg: '#kt_app_toolbar_container'}" class="page-title d-flex flex-column justify-content-center flex-wrap me-3 mb-5 mb-lg-0">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
						@sharedResource["Templates"]
					</h1>
					<!--end::Title-->
				</div>
				<!--end::Page title-->
				<!--begin::Action group-->
				@*<div class="d-flex align-items-center gap-2">
				<div class="d-flex align-items-center gap-2 gap-lg-3">
				<a href="#" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">
				Create
				</a>
				<!--end::Primary button-->
				</div>
				</div>*@
				<!--end::Action group-->
			</div>
			<input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

			<!--end::Toolbar container-->
		</div>
		<div id="kt_app_content" class="app-content  flex-column-fluid ">


			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container  container-fluid ">

				<div class="card">
					@*<div class="card-header">
					<h3 class="card-title">Title</h3>
					<div class="card-toolbar">
					<a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
					<i class="ki-duotone ki-plus fs-2"></i>                New Member
					</a>
					</div>
					</div>*@
					@*   <div class="card-header card-header-stretch overflow-auto" style="height: 5.5rem;">
					<h1 style="padding-top: 2rem;">@sharedResource["Edit Public Home Content"]</h1>
					<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" data-bs-original-title="Click to add a user" data-kt-initialized="1">
					<a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
					<i class="ki-duotone ki-plus fs-2"></i>                New Member
					</a>
					</div>
					</div> *@

					<div class="card-body">
						<table id="tblList" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
							<thead>
								<tr class="fw-bold fs-6 text-gray-800 px-7">
								<th hidden>id</th>
								<th class="min-w-200px text-start" >@sharedResource["Image"]</th>
								<th class="min-w-200px">@sharedResource["TitleEn"]</th>
								<th class="min-w-200px">@sharedResource["TitleAr"]</th>
								@*<th class="ps-4 min-w-150px rounded-start">@sharedResource["Category"]</th>*@
								<th class="min-w-200px text-end rounded-end">@sharedResource["Action"]</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>


					</div>

				</div>

			</div>

		</div>
	</div>

<partial name="_ViewPopup" model="@Model.Template" view-data=" ViewData" />

<partial name="_EditPopup" model="@Model.Template" view-data="ViewData" />

	<script src="~/Other/lib/jquery/dist/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#tblList").DataTable({
				"proccessing": true,
				"serverSide": true,
				"ajax": {

				url: "/admin/Configurations/ManageTemplates/Index",
					type: 'POST',
					headers: { 'XSRF-TOKEN': $('@Html.AntiForgeryToken()').val() }
				},
				"columnDefs": [
					{
						"targets": -1,
						"data": null,
						"render": function (data, type, row, meta) {
							return `<a href="javascript:void(0)" data-bs-toggle="modal" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
																				
																			 <i class="ki-duotone ki-eye fs-2x" onclick="ShowViewPopUp(${row.TemplateId})">
																							<span class="path1"></span>
																					<span class="path2"></span>
																					<span class="path3"></span>
																					</i>
																</a>
																<a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" href="javascript:void(0)" data-bs-toggle="modal">
																					<i class="ki-duotone ki-pencil fs-2" onclick="editButtonClick(${row.TemplateId})">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</a>

															`;
						},
						"sortable": false
					},
				{ "name": "TemplateId", "data": "TemplateId", "targets": 0, "visible": false },
				{
					"name": "TemplatePic",
					"data": "TemplatePic",
					"targets": 1,
					"visible": true,
					"render": function (data, type, row, meta) {
						return `<div class="d-flex align-items-center">
								<div class="symbol symbol-50px me-5">
											<img src="/${row.TemplatePic}" class="" alt="" width="200">
								</div>
							</div>`;
					}
				},
				{ "name": "TitleEn", "data": "TitleEn", "targets": 2 },
				{ "name": "TitleAr", "data": "TitleAr", "targets": 3 },
				//{ "name": "SiteCategories", "data": "SiteCategories.TitleEn", "targets": 4 }



				],
				"order": [[2, "desc"]],
				"language": {
					"lengthMenu": "Show _MENU_",
				},
				"dom":
					"<'row'" +
					"<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
					"<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
					">" +

					"<'table-responsive'tr>" +

					"<'row'" +
					"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
					"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
					">",
			"createdRow": function (row, data, dataIndex) {
				var tdElements = $(row).find('td');
				$(tdElements[tdElements.length - 1]).addClass('text-end');
			}
			});
		});

	function editButtonClick(TemplateId) {
		$.ajax({
			type: "GET",
			beforeSend: function (xhr) {
				xhr.setRequestHeader("XSRF-TOKEN",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			}
			,
			url: "/Admin/Configurations/ManageTemplates/Index?handler=SingleTemplateForEdit",

			data: { "TemplateId": TemplateId },
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				//document.getElementById("ETemplatePic").src = response.TemplatePic
				document.getElementById("TemplatePic").value = response.TemplatePic
				document.getElementById("TemplateId").value = response.TemplateId
				document.getElementById("TitleAr").value = response.TitleAr
				document.getElementById("TitleEn").value = response.TitleEn
				document.getElementById("SortOrder").value = response.SortOrder
				//document.getElementById("IsActive").value = response.IsActive
				if (response.IsActive)
				{
					document.getElementById("IsActive").checked = true;
				}
				else{
					document.getElementById("IsActive").checked = false;
				}
				document.getElementById("TemplatePrice").value = response.TemplatePrice
				document.getElementById("SiteCategoryId").value = response.SiteCategoryId
				$('#showEditModal').modal('show');


			},

			failure: function (response) {
				alert(response);
			}
		});
	}
	// === VIEW ===//
	function ShowViewPopUp(TemplateId) {

		$.ajax({
			type: "GET",
			url: "/Admin/Configurations/ManageTemplates/Index?handler=SingleTemplateForView",
			data: { "TemplateId": TemplateId },
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				console.log("Pic");
				console.log(response.TemplatePic);
				document.getElementById("TemplatePicSrcId").src ="/"+response.TemplatePic
				document.getElementById("vTitleAr").innerHTML = response.TemplateTitleAr
				document.getElementById("vTitleEn").innerHTML = response.TemplateTitleEn
				document.getElementById("vSortOrder").innerHTML = response.SortOrder
				document.getElementById("vIsActive").innerHTML = response.IsActive
				document.getElementById("vTemplatePrice").innerHTML = response.TemplatePrice
				document.getElementById("vSiteCategory").innerHTML = response.SiteCategory

				$('#QuickViewPoup').modal('show');
				console.log(response);
			},
			failure: function (response) {
				alert(response);
			}
		});

	}
	</script>
