@page
@model iTech.Pages.LoginModel
@{
    ViewData["Title"] = "Login / تسجيل الدخول";
    Layout = "Shared/Public/_PublicLayout.cshtml";
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
}
<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(public/img/page-header/page-header-services.jpg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-10"><strong>@sharedResource["Login"]</strong></h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb breadcrumb-light d-block text-center">
                        <li><a href="/Index">@sharedResource["Home"]</a></li>
                        <li class="active">@sharedResource["Login"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">

        <div class="row justify-content-center" style="margin-top: -2rem;height: 27rem;">
            <div class="col-lg-9 order-1 order-lg-2">

                <div class="row justify-content-md-center">
                    <div class="col-md-9">
                        <div class="featured-box featured-box-primary text-start mt-0">
                            <div class="box-content">
                                @{
                                    if (@BrowserCulture == "en-US")
                                    {
                                        <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">@sharedResource["Login"]</h4>

                                    }
                                    else
                                    {
                                        <h4 style="text-align:right" class="color-primary font-weight-semibold text-4 text-uppercase mb-3">@sharedResource["Login"]</h4>

                                    }
                                }
                                <form id="frmSignIn" method="post" class="needs-validation" novalidate="novalidate">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        @{
                                            if (@BrowserCulture == "en-US")
                                            {
                                              <div class="form-group col">
                                            <label asp-for="Input.Email" style="translate: none; rotate: none; scale: none; transform-origin: 558px 21px 0px; transform: translate(0px); opacity: 1;" class="form-label">E-mail Address</label>
                                            <input type="text" asp-for="Input.Email"   class="form-control form-control-lg" required="">
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                            }
                                            else
                                            {
                                                <div style="text-align:right" class="form-group col">
                                                    <label asp-for="Input.Email" style="translate: none; rotate: none; scale: none; transform-origin: 558px 21px 0px; transform: translate(0px); opacity: 1;" class="form-label">@sharedResource["E-mail Address"]</label>
                                                    <input type="text" asp-for="Input.Email" class="form-control form-control-lg" required="">
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>

                                            }
                                        }
                                        
                                    </div>
                                    <div class="row">
                                        @{
                                            if (@BrowserCulture == "en-US")
                                            {
                                                <div class="form-group col">
                                                    @*<a class="float-end" href="#">(Lost Password?)</a>*@
                                                    <label asp-for="Input.Password" class="form-label">@sharedResource["Password"]</label>
                                                    <input asp-for="Input.Password" type="password" value="" class="form-control form-control-lg" required="">
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="text-align:right" class="form-group col">
                                                    @*<a class="float-end" href="#">(Lost Password?)</a>*@
                                                    <label asp-for="Input.Password" class="form-label">@sharedResource["Password"]</label>
                                                    <input asp-for="Input.Password" type="password" value="" class="form-control form-control-lg" required="">
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>

                                                

                                            }
                                        }
                                        
                                    </div>
                                    <div class="row">
                                        @{
                                            if (@BrowserCulture == "en-US")
                                            {
                                                <div class="form-group col-lg-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="rememberme">
                                                        <label for="rememberme" class="custom-control-label text-2">@sharedResource["Remember Me"]</label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="text-align:right" class="form-group col-lg-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="rememberme">
                                                        <label for="rememberme" class="custom-control-label text-2">@sharedResource["Remember Me"]</label>
                                                    </div>
                                                </div>

                                                
                                            }
                                        }

                                       
                                        <div class="form-group col-lg-6">
                                            @{
                                                if (@BrowserCulture == "en-US")
                                                {
                                                    <input type="submit" value=@sharedResource["Login"] class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">

                                                }
                                                else
                                                {
                                                    <input type="submit" value=@sharedResource["Login"] class="btn btn-primary btn-modern" data-loading-text="Loading...">

                                                }
                                            }
                                        </div>
                                        <div class="form-group col-lg-12">
                                            @{
                                                if (@BrowserCulture == "en-US")
                                                {
                                                    <h4 style="color: #777;">@sharedResource["Didn't have any account?"] <a style="color: #d24143;" href="/Register">@sharedResource["Sign Up"]</a></h4>


                                                }
                                                else
                                                {
                                                    <h4 style="text-align:right;color: #777;">@sharedResource["Didn't have any account?"] <a style="color: #d24143;" href="/Register">@sharedResource["Sign Up"]</a></h4>

                                                }
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
