@page
@model iTech.Pages.ServicesDetailsModel
@{
    ViewData["Title"] = "Service Name";
    Layout = "Shared/Public/_PublicLayout.cshtml";
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();

}

<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(public/img/page-header/page-header-services.jpg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    @{
                        if (@BrowserCulture == "en-US")
                        {
                            <h1 class="text-10"><strong>@Model.services.TitleEn</strong></h1>
                        }
                        else
                        {
                            <h1 class="text-10"><strong>@Model.services.TitleAr</strong></h1>

                        }
                    }
                    <span class="sub-title">@sharedResource["We Are Here To Help You"]</span>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb breadcrumb-light d-block text-center">
                        <li><a href="/index">@sharedResource["Home"]</a></li>
                        <li><a href="Services">@sharedResource["Services"]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-5 pt-4 pb-5">
        <div class="row">
            <div class="col-lg-8 order-lg-2 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" style="animation-delay: 500ms;">
                <p class="text-3-5">
                    @{
                        if (Model.BrowserCulture == "en-US")
                        {
                            @Html.Raw(@Model.services.ContentEn)
                        }
                        //Arabic
                        else
                        {
                            @Html.Raw(@Model.services.ContentEn)
                        }
                    }
                </p>

            </div>
            <div class="col-lg-4 order-lg-1 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250" style="animation-delay: 250ms;">

                <div class="card bg-primary custom-border-radius-1">
                    <div class="card-body text-center py-5 my-2">
                        <h2 class="text-color-light font-weight-medium text-3 line-height-2 line-height-sm-1 mb-3 pb-1">@sharedResource["LOOKING FOR HONEST AND RELIABLE SERVICES?"]</h2>
                        <h3 class="font-weight-bold text-color-light text-transform-none text-8 line-height-3 mb-3">@sharedResource["Best Web Builder Services"]</h3>
                        <p class="font-weight-bold text-color-light text-4 opacity-7 mb-5">@sharedResource["Contact Us Today and Start Professionally"]</p>
                        <div class="feature-box custom-feature-box-justify-center align-items-center text-start mb-4">
                            <div class="feature-box-icon bg-transparent">
                                <i class="icons icon-phone text-8 text-color-light"></i>
                            </div>
                            <div class="feature-box-info line-height-2 ps-1">
                                <span class="d-block text-4 font-weight-medium text-color-light mb-1">@sharedResource["CALL US NOW"]</span>
                                <strong class="text-6"><a href="tel:@Model.phone" class="text-color-light text-decoration-none">@Model.phone</a></strong>
                            </div>
                        </div>
                        <a href="/Index/#contact" class="btn btn-light btn-outline custom-btn-border-radius font-weight-bold text-color-light text-color-hover-dark bg-color-hover-light btn-px-5 btn-py-3">@sharedResource["Contact Us"]</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>