@using iTech.Data
@inject CRMDBContext _context
@model iTech.Models.Country
@{
}

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Country"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="CRM" asp-page="/Configurations/ManageCountry/Index" asp-page-handler="EditCountry">
                <div class="modal-body">
                    <div class="row g-3">
              
                        <input asp-for="@Model.CountryId" id="HiddenId" value="@Model.CountryId" hidden>
                        
                        
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.TitleAr" class="form-label">@sharedResource["TitleAr"]</label>
                                <input data-val-required="@sharedResource["Enter TitleAr"]" id="TitleArID" type="text" asp-for="@Model.TitleAr" class="form-control" placeholder="@sharedResource["Enter TitleAr"]" required />
                                <span asp-validation-for="@Model.TitleAr" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.TitleEn" class="form-label">@sharedResource["TitleEn"]</label>
                                <input data-val-required="@sharedResource["Enter TitleEn"]" id="TitleEnID" type="text" asp-for="@Model.TitleEn" class="form-control" placeholder="@sharedResource["Enter TitleEn"]" required />
                                <span asp-validation-for="@Model.TitleEn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.SortOrder" class="form-label">@sharedResource["SortOrder"]</label>
                                <input data-val-required="@sharedResource["Enter SortOrder"]" id="SortOrderID" type="number" min="1" asp-for="@Model.SortOrder" class="form-control" placeholder="@sharedResource["Enter SortOrder"]" required />
                                <span asp-validation-for="@Model.SortOrder" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-check">
                                <input id="EIsActiveId" asp-for="@Model.IsActive" class="form-check-input" type="checkbox">
                                <label for="@Model.IsActive" class="form-check-label">@sharedResource["IsActive"]</label>
                                <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>