
@model iTech.Models.Country

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Country details"])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>

                                <tr>
                                    <td class="fw-medium">@sharedResource["TitleAr"]</td>
                                    <td id="TitleArDetails"></td>
                                </tr>
                                
                               
                                <tr>
                                    <td class="fw-medium">@sharedResource["TitleEn"]</td>
                                    <td id="TitleEnDetails"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["SortOrder"]</td>
                                    <td id="SortOrderDetails"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["IsActive"]</td>

                                    <td id="IsActiveDetails"></td>

                                </tr>
                                
                           

                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
