@page
@model iTech.Areas.CRM.Pages.SystemConfiguration.ManagePageContent.EditModel
@Html.AntiForgeryToken()
@{
	ViewBag.Title = @sharedResource["Edit Page Content"];
	ViewBag.pTitle = @sharedResource["Edit Page Content"];
	
}


	<!-- begin row  Arabic content -->
	<form method="post">
		  <input type="hidden" asp-for="PageContent.PageContentId"/>
		<div class="row mt-2">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
					<h6 class="card-title mb-0 fs-3 ">@Model.PageContent.PageTitleAr</h6>
						<input asp-for="PageContent.PageTitleAr" hidden />
					</div>
					<div class="card-body">
						<textarea asp-for="PageContent.ContentAr "  id="textareacontent" class="form-control"> </textarea>
						<span asp-validation-for="PageContent.ContentAr" class="text-danger"></span>
					</div>
				</div>
			</div>

		</div>
		<!-- end row -->
		<!-- begin row  Arabic content -->
		<div class="row mt-2">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h6 class="card-title mb-0 fs-4">@Model.PageContent.PageTitleEn</h6>
						<input asp-for="PageContent.PageTitleEn" hidden />
					</div>
					<div class="card-body">
						<textarea asp-for="PageContent.ContentEn " id="textareacontent" class="form-control"></textarea>
						<span asp-validation-for="PageContent.ContentEn" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-2">
		<div class="col-lg-6 m-auto d-flex justify-content-center mb-5">
				<button type="submit" class="btn btn-primary me-5 fs-5">@sharedResource["Edit"]</button>
				@*<a asp-page="./index" class="btn btn-success   fs-5">@sharedResource["Back"]</a>*@
			</div>
		</div>
	</form>
	


	@section scripts{

	<script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
		tinymce.init({             
			selector: '#textareacontent',
			statusbar: false,
			promotion: false,
			branding: false,
			
		});
		
	</script>

}