@inject CRMDBContext _context

@{
    var publicSlider = _context.PublicSliders.ToList();
    var locale = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
}
<div class="owl-carousel-wrapper" style="height: 100vh;">
    <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': true, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">

        @{
            if (publicSlider != null)
            {
                foreach (var item in publicSlider)
                {
                    if (@item.IsImage)
                    {

                        <!-- Carousel Slide -- Image -->
                        <div class="position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url(/@item.Background); background-size: cover; background-position: center; height: 100vh;">
                            <div class="container position-relative z-index-3 h-100">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                                <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                                    <img src="public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                                </span>
                                                @if (@BrowserCulture == "en-US")
                                                {
                                                    @item.Title1En

                                                }
                                                else
                                                {
                                                    @item.Title1Ar


                                                }
                                                <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                                    <img src="public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                                </span>
                                            </h3>
                                            <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                                                @if (@BrowserCulture == "en-US")
                                                {
                                                    @item.Title2En

                                                }
                                                else
                                                {
                                                    @item.Title2Ar


                                                }
                                            </h2>
                                            <h2 class="text-color-light font-weight-extra-bold text-4 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">

                                                @if (@BrowserCulture == "en-US")
                                                {
                                                    @item.DescriptionEn

                                                }
                                                else
                                                {
                                                    @item.DescriptionAr

                                                }
                                            </h2>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <!-- Carousel Slide -- Video -->
                        <div class="position-relative video overlay overlay-show overlay-op-8 pt-5" data-video-path="/@item.Background" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}" style="height: 100vh;">
                            <div class="container position-relative z-index-3 h-100">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                                <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                                        <img src="public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                                    </span>
                                                    @if (@BrowserCulture == "en-US")
                                                    {
                                                        @item.Title1En

                                                    }
                                                    else
                                                    {
                                                        @item.Title1Ar


                                                    }
                                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                                        <img src="public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                                    </span>
                                                </h3>
                                                <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                                                    @if (@BrowserCulture == "en-US")
                                                    {
                                                        @item.Title2En

                                                    }
                                                    else
                                                    {
                                                        @item.Title2Ar


                                                    }
                                                </h2>
                                                <h1 class="text-color-light font-weight-extra-bold text-4 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">

                                                    @if (@BrowserCulture == "en-US")
                                                    {
                                                        @item.DescriptionEn

                                                    }
                                                    else
                                                    {
                                                        @item.DescriptionAr

                                                    }
                                                </h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
        }
    </div>
</div>


@*<div class="owl-carousel-wrapper" style="height: 100vh;">
    <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': true, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">

        @{
            if (publicSlider != null)
            {
                foreach (var item in publicSlider)
                {
                    <!-- Carousel Slide 1 -->
                    <div class="position-relative pt-5" style="background-color: #35383d; height: 100vh;">
                        <div class="position-absolute top-0 left-0 w-50pct w-lg-auto z-index-2">

                            @if (@item.IsImage == true)
                            {
                                <img src="@item.IsImage" class="w-100 appear-animation" data-appear-animation="fadeInRightDownShorter" data-appear-animation-delay="500" alt="">

                            }
                            else
                            {
                                <video autoplay="" loop="" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                    <source src="/@item.Background">
                                    <source src="/@item.Background" data-wf-ignore="true">
                                </video>
                            }

                        </div>


                        <div class="container position-relative z-index-3 h-100">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="d-flex flex-column align-items-center">
                                        <h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-3 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                            <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                                <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                            </span>
                                            @if (@BrowserCulture == "en-US")
                                            {
                                                @item.Title1En

                                            }
                                            else
                                            {
                                                @item.Title1Ar


                                            }

                                            <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                                <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                            </span>
                                        </h3>
                                        <h2 class="text-color-light font-weight-extra-bold text-12 mb-4 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                                            @if (@BrowserCulture == "en-US")
                                            {

                                                <span class="position-relative">@item.Title2En<span class="position-absolute left-50pct transform3dx-n50 bottom-0"><img src="~/Public/img/slides/slide-blue-line-big.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" /></span></span>



                                            }
                                            else
                                            {

                                                <span class="position-relative">@item.Title2Ar<span class="position-absolute left-50pct transform3dx-n50 bottom-0"><img src="~/Public/img/slides/slide-blue-line-big.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" /></span></span>




                                            }

                                        </h2>
                                        @if (@BrowserCulture == "en-US")
                                        {
                                            <p class="text-4 text-color-light font-weight-light opacity-7 text-center mt-2 mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">@item.DescriptionEn</p>

                                        }
                                        else
                                        {
                                            <p class="text-4 text-color-light font-weight-light opacity-7 text-center mt-2 mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">@item.DescriptionAr</p>


                                        }
                                        <a href="/Templates" class="btn btn-primary btn-rounded font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">GET STARTED NOW!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        @* <!-- Carousel Slide 2 -->
        <div class="position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url(Public/img/slides/slide-bg-2.jpg); background-size: cover; background-position: center; height: 100vh;">
        <div class="container position-relative z-index-3 h-100">
        <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-6">
        <div class="d-flex flex-column align-items-center">
        <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
        <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span> WE WORK HARD AND TECHTIME HAS
        <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span>
        </h3>
        <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">THE BEST DESIGN</h2>
        <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Trusted by over <strong class="text-color-light">40,000</strong> satisfied users, TECHTIME is a huge success in the one of larest world's MarketPlace</p>
        </div>
        </div>
        </div>
        </div>
        </div>

        <!-- Carousel Slide 3 -->
        <div class="position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url(Public/img/slides/slide-bg-6.jpg); background-size: cover; background-position: center; height: 100vh;">
        <div class="container position-relative z-index-3 h-100">
        <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-6">
        <div class="d-flex flex-column align-items-center">
        <h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
        <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span> WE CREATE DESIGNS, WE ARE
        <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span>
        </h3>
        <h2 class="porto-big-title text-color-light font-weight-extra-bold mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 250, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">TECHTIME</h2>
        <p class="text-4 text-color-light font-weight-light text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}">The best choice for your new website</p>
        </div>
        </div>
        </div>
        </div>
        </div>

        <!-- Carousel Slide 4 -->
        <div class="position-relative video overlay overlay-show overlay-op-8 pt-5" data-video-path="Public/video/memory-of-a-woman" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}" style="height: 100vh;">
        <div class="container position-relative z-index-3 h-100">
        <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-6">
        <div class="d-flex flex-column align-items-center">
        <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
        <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span> WE WORK HARD AND TECHTIME HAS
        <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
        <img src="~/Public/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
        </span>
        </h3>
        <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">THE BEST DESIGN</h2>
        <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Trusted by over <strong class="text-color-light">40,000</strong> satisfied users, TECHTIME is a huge success in the one of largest world's MarketPlace<strong class="bg-light">Oi oi oi</strong></p>
        </div>
        </div>
        </div>
        </div>
        </div>

    </div>
</div>*@